body{
    background-color: #062B3D;
}
h2{
    font-size: 1.5rem;
    color:#FFD8AB;
    text-align: center;
}

.viewList-Container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
  }

  .productitem{ 
    font-size: 10px;
    width: 70%;
    color: salmon;

}
  .productitem a{ 
    font-size: 10px;
    width: 70%;
    color: salmon;
        text-decoration: none;
}
.productitem p{ 
    font-size: 20px;
    
}
.productitem img{
    box-sizing: border-box;
  border-radius: 50%;
    align-items: center;
    width: 100%;
  }