body {
  background-color: #062b3d;
  color: #ffd8ab;
}

h4 {
  font-size: 2rem;
}

h2 {
  text-align: center;
  font-size: 250%;
}

.biotop_img {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}

.item_img {
  width: 50%;
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid #062b3d;
  grid-column: 1;
  grid-row: 1;
  margin-top: 30%;
  opacity: 90%;
}
.tekst {
  text-align: left;
  max-width: 75ch;
  margin-left: 20%;
}
.container {
  grid-template-columns: 1fr;
  display: grid;
}
p {
  font-family: "Raleway", sans-serif;
  line-height: 150%;
}
.single,
.biotop,
.maeneder,
.type {
  margin-left: 20%;
}

@media (max-width: 800px) {
  .list_tittle {
    text-align: center;
  }
  .tekst {
    text-align: left;
    margin-left: 8%;
    margin-right: 13%;
  }
  .single,
  .biotop,
  .maeneder,
  .type {
    margin-left: 8%;
  }
  h2 {
    font-size: 200%;
  }
}
