/* fonte */
.dm-serif display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* menu som er fra tidligere opgave i tema 5, men også fra det ekesmpel mikkel lagde ud-----------------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  padding: 0.5%;
  background-color: #062b3d;
  box-shadow: 0 15px 33px rgba(0, 0, 0, 0.1);
  grid-template-columns: repeat(2, auto);
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo img {
  width: 12%;
  height: auto;
}
ul {
  display: flex;
  align-items: end;
  margin: 0;
  justify-content: space-evenly;
  place-items: center;
  gap: 10px;
}

/* sætter dem ved siden af hinanden fremfor ovenpå hinanden */

.heart {
  margin-bottom: 3%;
  width: 50px;
}
.profile {
  margin-bottom: 3%;
  margin-left: 55%;
  width: 50px;
  margin-right: 120%;
}

/* anchortag på ikoner i header */
a {
  margin-right: 75%;
  margin-left: -55%;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
  background-color: #062b3d;
  color: #d9d9d9;
  padding: 0.5%;
  box-shadow: 0 -20px 72px rgba(0, 0, 0, 0.1);
  margin-top: 10%;
  font-size: 100%;
}
.logo_footer img {
  width: 20%;
  height: auto;
  margin-left: 2%;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  color: #ffd8ab;
  margin-right: 2%;
}
.kontakt {
  font-weight: 800;
  font-size: 120%;
  margin-right: 54.5%;
}

/* mobil */
@media (max-width: 800px) {
  .menu img {
    margin-right: 2%;
    margin-left: 0;
    width: 41px;
  }

  .logo img {
    width: 20%;
    height: auto;
  }

  .footer {
    font-size: 70%;
  }
  .kontakt {
    font-size: 100%;
    font-weight: 600%;
    margin-right: 57.5%;
  }

  /* anchortag på ikoner i header */
  a {
    margin-right: 30%;
    margin-left: -15%;
  }
}
